body{
    background:rgba(0,0,0,0.1);
    color:#000;
    font-family: "Splus Icon", "Fira Sans", sans-serif;
    cursor: default;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

.MainWrapper{
    background-color: rgb(255,255,255);
    box-shadow: rgba(0,0,0,0.15) 0px 3px 6px;
    display: flex;
    width:80%;
    z-index: 10;
    margin-left:20px ;
    flex-direction: column;
    justify-content: space-evenly; /*between tutto sparato alto o basso altrimenti attenuato*/
    align-items: center;
}

.SignMenu{
    display:none;
}

.LogoHeader{
    display: flex;
    margin:0px 30px;
    flex-direction: column;
    line-height: 2;
    justify-content: center;
    width:17%;
    transition: 0.4s;
}

.LogoFirstRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2.5em;
    font-weight: bold;
    align-items: center;
    width: 100%;

}

.LogoSecondRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2px 0px;
    background-color: black;
    color: white;
}

.ColHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80px;   /*se metto pixel è statico con % è dinamico*/
    /*background-color: red;*/
}

.FirstRowHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /*background-color: yellow;*/
}

.SecondRowHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 22px ;
    margin-top:45px ;
    width: 100%;
    /*background-color: green;*/
}


.InputSearchFiles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid grey;
}

.SearchInput{
    border: none;
    outline: none;
}

.HeaderWrapper{
    box-shadow: rgba(0,0,0,0.15) 0px 3px 6px;
    background-color: rgb(255,255,255);
    padding: 20px 0px;

    display: flex;
    transition: 0.3s;
    z-index: 100;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 100px;
    top: 0;
}

.Description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #666565;
    /*background-color: rgb(0,255,255);*/

}

.IconPlus{
    margin: 0px 30px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*background-color: rgb(255,0,255);*/

}

.FakeLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.SecondRowHeader span{
    margin: 0 10px;
}

.MainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    padding: 20px 0px;
    /*background-color: rgb(255,0,0);*/
}
.RowHeaderMedia{
    display: none;
}

.RowImage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /*  background-color: yellow;*/
}
.ImageContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 373px;
    color: white;
    margin: 3px;
    /* border-bottom: 2px solid transparent; */
}

.AAA{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 373px;
    color: white;
    margin: 3px;
    /* border-bottom: 2px solid transparent; */
}
.ImageContainer:hover{
    transition: 0.5s;
    border-bottom: 3px solid red;
}
.OverTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.GenreContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Genre{
    padding: 10px 20px;
    color: rgb(255,255,255);
    background-color: rgba(255, 0, 0, 0.78);
}

.TitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}
.Title{
    color: rgb(255,255,255);
    padding: 10px 20px;
}

.IconContainerImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 95%;
}
.WhiteBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding: 0 4px;
    background-color: white;
    border-radius: 4px;
    color: red;
    font-weight: bold;
}

.ADV{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 80%;
    margin: 10px;
    background-image: url("https://via.placeholder.com/1000x1000/1ce62d/969696?text=LoremIpsumADV");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Container{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.ADV1{
    color: white;
    width:60%;
    height:150px ;
    margin-left: 50px ;
    display: flex;
    background-color: black;
}
.ADV2Container{
    display: flex;
    width: 30%;
}
.ADV2{
    width: 70%;
    height: 29%;
    background-color: black ;
    position: sticky;
    top:0;
}
.ADV3{
    justify-content: start;
    width: 30%;
    height: 60%;
    background-color: grey;
    align-self: center;
}

.ADV4{
    display: none;
    justify-content: center;
    width: 50%;
    background-color: black;
    min-height: 100px;
}

.ListArticle{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.ListArticle1{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.ArticleOfList{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.MiniArticle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 10px 10px;
    padding: 10px 0px;
}

.TitleArticle{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:start;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
.TitleArticle:hover{
    transition: 0.5s;
    color: rgb(102, 101, 101);
}

.ArticleImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.TitleArticle1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:flex-start ;
    font-weight: bold;
    margin: 10px 10px;
    padding: 10px 0px;
}


#Buttontop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 50%; /* Rounded corners */
    -webkit-box-shadow: 8px 5px 17px -3px rgba(0,0,0,0.71);
    box-shadow: 8px 5px 17px -3px rgba(0,0,0,0.71);

}

#Buttontop:hover {
    -webkit-box-shadow: inset 8px 5px 17px -3px rgba(0,0,0,0.71);
    box-shadow: inset 8px 5px 17px -3px rgba(0,0,0,0.71);
}

.RowArticle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.Border{
    border-right: #666565 1px solid;
    border-left: #666565 1px solid;
    margin: 0px 10px;
    padding: 0px 10px;
}

.ArticleInRow {
    display: flex;
    flex-direction: column;
    width: 49% ;
}

.LineDivision{
    border-bottom: #666565 1px solid;
    width: 100%;
    display: flex;
}

span{
    justify-content: start;
}

.Footer{
    display: flex;
    flex-direction:row ;
    justify-content:start;
    align-content: center;
    padding: 30px 0px;
    margin-left: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: grey;
    max-width: 100%;
    height: auto;
    font-size: 16px;
    z-index: 0;
}

.Linkfooter{
    align-content: center;
    flex-direction: row;
    display: flex;
}
.Linkfooter:hover{
    color: red;
    transition: 0.5s;
}
.evid{
    color: grey;

}
.evid:hover{
    color: red;
    transition: 0.5s;
}
.WebLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px;
    height: auto;
    align-content: center;
    align-items: center;
    width: 70%;
    color: grey;
    z-index: 0;
}
.WebLinksContainer{
    display:flex;
    justify-content: space-between;
    gap:0;
    align-content: center;
}
.RowImage1{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.ArticleRow1{
    display: none;
}
.Article{
    display: flex;
    flex-direction: column;
}
.LastPart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.AnotherLink{
    flex-direction: row;
    text-align: center;
}

.ContainerFooter{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*------------------------MEDIA QUERY------------------------*/
@media screen and (max-width: 1400px){

    .VoceRossa{
        padding: 50px ;
        border-bottom: #9d9b9b solid 1px;
        font-size: 2em;
        width: 100%!important;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .ADV2{
        height: 100px;
        width: 400px;
    }

    .ADV2Container{
        position:fixed;
        bottom: 0;
        justify-content: center;
        z-index: 10;
        margin: auto;
        width: 50%;
        left: 25%;
    }

    .MainWrapper{
        width: 100%!important;
    }
    .HeaderWrapper{
        width: 100%!important;
    }

    .Footer{
        width: 100%!important;
        flex-direction: column;
    }
    .WebLinks{
        width: 100%!important;
        justify-content: space-evenly;
    }

    .Container{
        width: 100%!important;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

}


@media screen and (max-width: 1080px) {
    .VoceGrigia{
        display: none;
    }


    .RowArticle1{
        flex-direction: column!important;
        display: flex;
    }
    .ContainerListaMehr{
        width: 80%!important;
    }
    .Zona{
        width: 100%!important;
    }

    .ListaVociMehr{
        width: 100%!important;
    }

    #mehr{
        flex-direction: column-reverse!important;
    }



    .Border{
        border-right: none;
        border-left: none;
        border-top: #666565 1px solid;
        border-bottom: #666565 1px solid;
    }


    .MiniArticle{
        display: none;
    }
    .Article{
        width: 70%;

    }
    .ArticleOfList{
        padding: 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    .SecondRowImage1{
        height: 190px!important;
    }

    .RowImage{
        flex-direction: column;
    }
    .ImageContainer{
        width: 100%!important; /* lo obbligo a fare 100% rinunciando allo script*/
    }
    #BigImage{
        height: 300px;
    }

    .SignMenu{
        display: flex;
        justify-content: space-between;
        margin-left: 20px;

    }
    .RowHeaderMedia{
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        justify-content: space-between;
    }
    .ColHeader{
        display: none;
    }

    .HeaderWrapper{
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
        width: 100%!important;
        height: 30px!important;
        z-index: 20;
    }
    .FirstRowHeader{
        display: none;
    }
    .SecondRowHeader{
        display: none;
    }

    .LogoHeader{
        position: fixed;
        display: flex;
        padding: 20px;
        margin-left: 60px;
        font-size:8px ;
        height: 40px!important;
        width: 65px!important;
    }

    .MainWrapper{
        width: 100%!important;
        margin: 0px!important;
        padding: 0px!important;
    }
    .RowImage1{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .ListArticle1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%!important;
    }

    .ListArticle{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%!important;
    }


    .ArticleInRow{
        display: flex;
        flex-direction: column;
        width: 90% ;
    }
    .ADV3{
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #666565;
        width: 300px;
        height: 250px ;

    }
    .ADV1{
        display: none;
    }
    .ADV4{
        margin-top: 80px;
        display:flex;
    }

    .Footer{
        width: 100%!important;
        display: flex;
        justify-content: space-evenly;
        font-size: 1em;
        padding:30px 0px;
        margin: 0px!important;
    }
    #mediachange{
        flex-direction: column!important;
    }
    #mediachange1{
        width: 100%!important;
    }
    .ArticleRow1{
        display: flex;
        flex-direction: column;
        width: 90% ;
    }
    .LastPart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    .WebLinks{
        flex-direction: column;
    }

    .BottomMap{
        flex-direction: column!important;
    }

    .BottomMehr{
        flex-direction: column!important;
    }

    .SubBottomMehr{
        width: 80%!important;
        flex-direction: column!important;
    }
}

.ContainerListaMehr{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 20%;
}

/*  MAPPA  */

#map{
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    position: absolute;
    padding: 20px 0;
    background-color: #EEEEEE;
    border-top: 1px solid #a6a6a6;
    z-index: 100;
    -webkit-box-shadow: 0px 8px 12px -4px #ADADAD;
    -moz-box-shadow: 0px 8px 12px -4px #ADADAD;
    -o-box-shadow: 0px 8px 12px -4px #ADADAD;
    box-shadow: 0px 8px 12px -4px #ADADAD;
}

.BottomMap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 20px 0;
    background-color: #EEEEEE;
}

.ListaVociMappa{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.VoceMappa{
    transition: 0.3s;
    padding: 5px 0;
    cursor: pointer;
    color: #949494;
}

.VoceMappa:hover{
    transition: 0.2s;
    color: #1c1c1c;
}

/*  MENU MEHR  */

#mehr{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    position: fixed;
    padding: 20px 0;
    background-color: #EEEEEE;
    border-top: 1px solid #a6a6a6;
    z-index: 100;
    -webkit-box-shadow: 0px 8px 12px -4px #ADADAD;
    -moz-box-shadow: 0px 8px 12px -4px #ADADAD;
    -o-box-shadow: 0px 8px 12px -4px #ADADAD;
    box-shadow: 0px 8px 12px -4px #ADADAD;
}

.BottomMehr{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 20px 0;
    background-color: #fff;
}

.SubBottomMehr{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row; width: 80%;
}

.ListaVociMehr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    color: #949494;
    padding: 0 5px;
}

.ListaVociMehr span{
    padding: 5px 0;
}

.VoceRossa{
    font-weight: bold;
    color: #ff0000;
    font-size: 1.3em;
}

.sottoMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    color: #1c1c1c;
    border-top: 1px solid #b7b7b7;
    padding: 8px 0;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.ListaVociMehr span:hover{
    color: #3d3d3d;
    cursor: pointer;
}

.ListaVociMehr .VoceRossa:hover{
    color: #ff0000;
    cursor: pointer;
}

.sottoMenu:hover{
    background-color: #dadada;
}

